.addProperty_container {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    margin: 20px 0;
    justify-self: center;
    height: max-content;
    display: flex;
    background-color: #ffffff;
}

.container__form {
    margin: 30px;
    width: 100%;
    height: max-content;
}

.container__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header__select {
    display: flex;
}

.select--status, .select--tradeType {
    margin-right: 10px;
    padding: 10px 20px;
    height: 40px;
    width: max-content;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    color: #ffffff;
    font-weight: 600;
}

.header__btn {
    justify-content: right;
    justify-items: right;
    align-items: right;
}

.btn--delete, .btn--add {
    margin-left: 10px;
    padding: 10px 20px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

.btn--delete {
    background-color: #C10000;
}

.btn--add {
    background-color: #1987AA;
}

.container__input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input--icon {
    margin-right: 10px;
    color: #4b4b4b;
}

.input--name {
    display: flex;
    color: #4b4b4b;
    align-items: center;
    width: 100%;
    position: relative;
}

.name--input {
    height: 50px;
    width: 90%;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    font-size: large;
}

.name--btn {
    position: absolute;
    right: 90px;
    border-style: none;
    color: #4b4b4b;
    background-color: transparent;
    cursor: pointer;
}

.input--price::placeholder {
    text-align: left;
  }

.input--price {
    text-align: right;
    height: 50px;
    width: 30%;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    font-size: large;
}

.container__address {
    color: #4b4b4b;
    display: flex;
    font-size: small;
    margin-bottom: 10px;
    height: 30px;
    align-items: center;
}

.address--text {
    width: 70%;
}

.address--baht {
    width: 30%;
    text-align: right;
}

.container__desc {
    display: flex;
}

.container__visual {
    width: 50%;
}

.desc__pic {
    height: 60%;
    width: 95%;
    margin-bottom: 20px;
    border: black 1px solid;
}

.desc__map {
    height: 37%;
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
}

.container__details {
    background-color: #F3F3F3;
    border-radius: 10px;
    width: 50%;
    height: auto;
    padding: 0 20px;
}

.detials__header {
    color: #4b4b4b;
    font-weight: 600;
    font-size: x-large;
}

.details__container {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: -10px;
    align-items: center;
}

.details__container--pet {
    display: flex;
    margin-top: -10px;
    margin-bottom: -10px;
    align-items: center;
}

.container--text, #container--input {
    color: #4b4b4b;
    font-size: small;
}

.container--area {
    color: #4b4b4b;
    font-size: small;
    display: flex;
    justify-content: right;
    margin-bottom: -15px;
    width: 83%;
}

#container--input {
    margin-right: 10px;
    padding: 0 10px;
    height: 30px;
    width: 30%;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    cursor: pointer;
}

.details__container--note {
    align-items:first baseline;
}

#note--input {
    vertical-align: text-top;
    margin-right: 10px;
    padding: 10px 10px;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    margin-bottom: 20px;
    word-break: break-word
}

.fa-spin {
    color: #4b4b4b;
    --fa-animation-duration: 2s;
    animation-name: fa-spin;
    animation-duration: var(--fa-animation-duration, 2s);
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    animation-timing-function: var(--fa-animation-timing, linear);
    animation-delay: var(--fa-animation-delay, 0s);
    animation-direction: var(--fa-animation-direction, normal);
}