* {
    font-family: 'Noto Sans Thai';
    box-sizing: border-box;
}

form {
    margin: 20px 20px 20px 20px;
}

.search {
    display: flex;
    align-items: center;
}

.search__input, .search__btn, .search__filter, .clear__btn {
    height: 40px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    padding: 10px 20px;
}

.search__input {
    width: 250px;
    z-index: 10;
    position: relative;
    margin: 20px 20px 20px 20px;
}

.search__btn {
    margin-left: 10px;
    background-color: #1987AA;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

.search__btn:hover {
    background-color: #135c72;
    transition: all 100ms ease-in;
}

.search__filter {
    display: flex;
    align-items: center;
    margin-left: -10px;
    background-color: #333333;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

.search__filter p {
    margin-left: 10px;
}

.search__filter:hover {
    background-color: #454545;
    transition: all 100ms ease-in;
}

.container {
    display: flex;
    height: 500px; 
    /* justify-content: space-between; */
}

.container__map {
    width: 60%;
    margin-left: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.container__listing{
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    margin-right: 20px;
    width: 40%;
}

.custom__marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    position: relative;
}

.marker--CB {
    background-color: #f3c276;
}

.marker--CD {
    background-color: #578e95;
}

.marker--DH {
    background-color: #80cdb4;
}

.marker--L {
    background-color: #826e5c;
}

.marker--TH {
    background-color: #91a3c5;
}

.marker--TW {
    background-color: #fbcfce;
}

.marker--label {
    background: white;
    padding: 0 10px;
    width: 200px;
    border-radius: 5px;
    font-size: small;
    color: #4B4B4B;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute; 
    top: -40px; 
    left: 120%;
    opacity: 1; 
    transition: opacity 100ms ease-in-out;
    pointer-events: none;
}

.label--header {
    font-weight: 600;
    margin-bottom: -10px;
    text-align: left;
}

.label--details {
    margin-bottom: -10px;
}

.marker--label {
    justify-items: left;
}

.autocomplete {
  position: absolute;
  background: white;
  width: 250px;
  list-style: none;
  padding: 0 10px;
  margin-top: 0;
  max-height: 150px;
  overflow-y: scroll;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  top: 120px;
  left: 20px;
  z-index: 2;
  font-size: small;
}

.autocomplete li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete li:hover {
  background: #f0f0f0;
}