.container__head {
    font-size: x-large;
    font-weight: 600;
    color: #4B4B4B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account--line {
    background-color: #B2B2B2;
    height: 1px;
    border: none;
    margin: -5px 0;
}

.container__flex {
    display: flex;
    height: 5%;
    align-items: center;
    color: #4b4b4b;
    justify-content: space-between;
}

.flex--head {
    width: 20%;
}

.flex--contents {
    width: 80%;
}

.account--input {
    padding: 0 10px;
    height: 30px;
    width: 80%;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    cursor: pointer;
}

.account--input--name {
    padding: 0 10px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.25);
    cursor: pointer;
}

.account--input--disabled {
    background-color: #e7e7e7;
    color: #7e7e7e;
    box-shadow: none;
}

.flex--head--name {
    width: 100px;
}

